img{
    width: 400px;
}

h2{
    color: #800080;
    text-decoration: underline;
}

.forms{
    margin: 0 auto;
}

table{
    font-weight: bold;
    margin: 0 auto;
 
}

tr,td{
    padding: 3px;
    
}
